<div class="container-fluid" >
    <div class="login-page">
    <mat-card class="login-card">
            <mat-card-title>Login</mat-card-title>
        <div class="login-page-from">
        <div class="img-password-email">
           <img src="assets/Email-login-img.png">
            <!-- <img src="assets/enter-password.jpg"> -->
        </div>
        <div class="login-content-data">
         <form>
             <mat-form-field class="login-form">
                  <input matInput type="text"  placeholder="Email ID/Mobile NO" value="">
             </mat-form-field>
            <mat-form-field class="login-form">
                  <input matInput type="password" placeholder="Password" value="">
             </mat-form-field>
            <div class="login-btn-submit">
            <a  mat-button class="btn-s button-submit">Login</a>
            </div>
            <div class="link-spac-bet-btn">
                    <a mat-button routerLink="/ForgotPassword">Forgot Password</a>
                    <a mat-button routerLink="/registration">New User</a>
            </div>
            </form>
        </div>
    </div>
    </mat-card>
    </div>
    </div>
    