/** Loader color **/
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #111f3f ;
   }

.error-snackbar{
    background: #d32f2f;
  }
  .success-snackbar{
  background: #43a047;
  }
  .info-snackbar{
  background: #38a7ff;
  }
  .warning-snackbar{
  background: #ffa000;
  }