.mat-drawer-container{
    height: 100%;
    float: left;
}
.mat-drawer.mat-drawer-side{
    border: 0;
    background: #ffffff ;
    box-shadow: 1px 7px 5px 4px #ddd;
  }
  .text-name-hide {
    display: none;
  }
  .mat-action-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-list-item:focus, 
  .mat-nav-list .mat-list-item:hover {
    background: #ec8463;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #ec8463;
}
.mat-sidenav:hover{
  border-right: 1px solid #ddd;
}
.text-data-padding{
  padding: 0;
  width: 100%;
}
div.mat-list-text{
  padding-left: 10px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar{
    height:40px;
    margin-bottom: 0.5em;
   
  }
  .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon{
    padding: 0px;
  }
  .mat-list-item >.mat-list-item-content>*{
    padding: 0 8px;
  }
  #link-btnnav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 0.5em  0.5em;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    color: white ;
    border-radius: 0 5px 5px 0;
    margin: 1em 0.5em;
  }
  #link-btnnav a:hover {
    left: 0;
    text-align: center;
    width: 90%;
  }
  a.text-name-hide:hover {
    display: flex;     
  }
  
  #about {
    top: 3em;
    background-color: #4CAF50;
  }
  
  #blog {
    top: 6em;
    background-color: #2196F3;
  }
  
  #projects {
    top: 9em;
    background-color: #f44336;
  }
