<!-- <mat-drawer-container class="example-container" autosize>
	<mat-toolbar color="primary">
  <mat-toolbar-row>	 
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
	</button>
    <h1>Patel Project</h1>
    <span class="menu-spacer"></span>
   
  </mat-toolbar-row>
</mat-toolbar>
  <mat-drawer #drawer class="example-sidenav drw-side-bar" mode="side">
    <mat-toolbar color="primary">Patel Project</mat-toolbar>
    <div class="link-btn-nav" id="link-btnnav">
    <a mat-raised-button id="about" routerLink="."><mat-icon>home</mat-icon> <span class="text-name-hide">home</span></a>
    <a mat-raised-button id="blog" routerLink="."><mat-icon>home</mat-icon><span class="text-name-hide">home</span></a>
    <a mat-raised-button id="projects" routerLink="."><mat-icon>home</mat-icon><span class="text-name-hide">home</span></a>
  </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container> -->
<mat-toolbar class="example-container" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button  (click)="isExpanded = !isExpanded">
      <mat-icon >menu</mat-icon> 
      <!-- (click)="sidenav.toggle()" -->
    </button>
    <h1>Patel Project</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container   autosize>
  <mat-sidenav #sidenav mode="side" disableClose="true" opened="true">
      <!-- <button mat-mini-fab (click)="isExpanded = !isExpanded">
          <mat-icon >menu</mat-icon>
        </button> -->
    <mat-nav-list  (mouseenter)="isExpanded=true" (mouseLeave)="isExpanded=false">      
      <!-- <a mat-list-item [routerLink]="">list</a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
      <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line class="text-data-padding" *ngIf="isExpanded">Management A</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management B</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management C</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management X</h4>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

