<mat-drawer-container class="example-container" autosize>
	<mat-toolbar color="primary">
  <mat-toolbar-row>	 
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
	</button>
    <h1>Patel Project</h1>
    <span class="menu-spacer"></span>
   
  </mat-toolbar-row>
</mat-toolbar>
  <mat-drawer #drawer class="example-sidenav drw-side-bar" mode="side">
    <mat-toolbar color="primary">Patel Project</mat-toolbar>
    <div class="link-btn-nav" id="link-btnnav">
    <a mat-raised-button id="about" routerLink="."><mat-icon>home</mat-icon> <span class="text-name-hide">home</span></a>
    <a mat-raised-button id="blog" routerLink="."><mat-icon>home</mat-icon><span class="text-name-hide">home</span></a>
    <a mat-raised-button id="projects" routerLink="."><mat-icon>home</mat-icon><span class="text-name-hide">home</span></a>
  </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
